<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Flight Booking Admin Panel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="!isAdminLoggedIn">
          <a
            class="nav-link"
            routerLink="/admin/login"
            routerLinkActive="active"
            >Login</a
          >
        </li>

        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a
            class="nav-link"
            routerLink="/admin/airlines/add"
            routerLinkActive="active"
            >Add Airline</a
          >
        </li>

        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a
            class="nav-link"
            routerLink="/admin/airlines"
            routerLinkActive="active"
            >Airlines</a
          >
        </li>

        <li class="nav-item" *ngIf="isAdminLoggedIn">
          <a
            class="nav-link"
            routerLink="/admin/airlines/inventory"
            routerLinkActive="active"
            >Add Inventory</a
          >
        </li>

        <li *ngIf="isAdminLoggedIn" class="nav-item" (click)="onAdminLogout()">
          <a class="nav-link">Log out</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
