<ul class="nav flex-column">
  <li class="list-group-item text-center text-uppercase pb-4">
    <img
      src="https://img.icons8.com/external-glyph-on-circles-amoghdesign/48/000000/external-aeroplane-travel-and-transport-glyph-on-circles-amoghdesign-3.png"
    />
    <label class="mt-2 name">Flight Booking</label>
    <div class="lead">Admin Panel</div>
  </li>
  <li class="list-group-item">
    <a routerLink="/" routerLinkActive="active">Home</a>
  </li>
  <li class="list-group-item" *ngIf="!isAdminLoggedIn()">
    <a routerLink="/admin/login" routerLinkActive="active">Login</a>
  </li>

  <li class="list-group-item" *ngIf="isAdminLoggedIn()">
    <a routerLink="/admin/airlines/add" routerLinkActive="active"
      >Add Airline</a
    >
  </li>

  <li class="list-group-item" *ngIf="isAdminLoggedIn()">
    <a routerLink="/admin/airlines" routerLinkActive="active">Airlines</a>
  </li>

  <li class="list-group-item" *ngIf="isAdminLoggedIn()">
    <a routerLink="/admin/airlines/inventory" routerLinkActive="active"
      >Add Inventory</a
    >
  </li>

  <li
    *ngIf="isAdminLoggedIn()"
    class="list-group-item"
    (click)="onAdminLogout()"
  >
    <a>Log out</a>
  </li>
</ul>
