.airline-selected {
  background: #fff;
  padding: 16px 20px;
  align-items: center;
  margin: 0;
  border-radius: 8px;
}

.airline-selected .col-md-4 .row {
  align-items: center;
}

.total-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 20px;
}

.selected-header {
  padding: 8px 10px;
  background: #333;
  margin: 0;
  color: #fff;
  border-radius: 8px;
}
