<div class="mt-1 card pb-3">
  <div class="text-center pt-2">
    <img
      src="https://img.icons8.com/external-glyph-on-circles-amoghdesign/48/000000/external-aeroplane-travel-and-transport-glyph-on-circles-amoghdesign-3.png"
    />
  </div>

  <h1 class="display-4 text-center">Flight Booking</h1>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 500px; width: 100%">
        <img
          class="d-block w-100"
          src="../../assets/pexels-pixabay-358319.jpg"
        />
      </div>
    </div>
  </div>

  <p class="lead m-2 text-center" style="font-family: cursive">
    Flight Booking is centered on making travel simple and has been designed to
    let you look for cheap flights or complete your flight booking in just a few
    clicks.
  </p>
</div>

<div class="mt-3 row">
  <div class="col-md-3 card" routerLink="/user/search">
    <img
      src="../../assets/pexels-photo-11481549.jpeg"
      style="width: 100%"
      alt=""
    />
  </div>
  <div class="col-md-3 card" routerLink="/user/search">
    <img
      src="../../assets/pexels-photo-1268855.jpeg"
      style="width: 100%"
      alt=""
    />
  </div>
  <div class="col-md-3 card" routerLink="/user/search">
    <img
      src="../../assets/pexels-photo-1285625.jpeg"
      style="width: 100%"
      alt=""
    />
  </div>
  <div class="col-md-3 card" routerLink="/user/search">
    <img
      src="../../assets/pexels-photo-1371360.jpeg"
      style="width: 100%"
      alt=""
    />
  </div>
</div>
