<div class="p-5 mt-5 card">
  <div class="text-center">
    <img
      src="https://img.icons8.com/external-glyph-on-circles-amoghdesign/48/000000/external-aeroplane-travel-and-transport-glyph-on-circles-amoghdesign-3.png"
    />
  </div>

  <h1 class="display-4 text-center">Flight Booking</h1>

  <p class="lead">
    Flight Booking is centered on making travel simple and has been designed to
    let you look for cheap flights or complete your flight booking in just a few
    clicks.
  </p>
</div>
